* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family:sans-serif;

}

#signup-container {
    position:absolute;
    background-color:#FFFFFF;
    text-align:center;
    top:42%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
}

h1 {
    text-align: center;
    margin: 30px;

}

.textForm {
    border-bottom: 2px solid #adadad;
    margin: 30px;
    padding: 10px 10px;
}


#signup-id{
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#signup-pw {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}
#signup-pw2 {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#signup-name {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#signup-email {
    width: 100%;
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#signup-tel {
    border:none;
    outline:none;
    color: #636e72;
    font-size:16px;
    height:25px;
    background: none;
}

#signup-buttons {
    position:relative;
    transform: translateX(-50%);
    margin-bottom: 40px;
    width:80%;
    height:40px;
    color:white;
    border:none;
    cursor:pointer;
    display:inline;
    justify-content: center;
}



.textForm > span {
    color: red;
    font-size: 14px;

}